


.carousel-container {
  width: 80%;
  height: 70%;
  margin: auto;
}

.carousel-container img {

  height: 80%;
  max-width: 90%;
  position: absolute;
  left: 50%;
  top: -5%;
  transform: translate(-50%, 50%); 
  opacity: 0;
  transition: opacity 2s ease-in-out;
  object-fit: scale-down;
} 



.carousel-container img.showing {

  opacity: 1;
}

