#cart_data{
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin:auto;
    max-width: 80%;
    gap: 5%;
    background-color: lightslategray;
}
.item{
    display: flex;
    flex-direction: row;
    background-color: rgb(85, 141, 155);
    border-style: solid;
    align-items: center;
}
.pic{
    width: 10%;
    margin-left: 10%;
}
.text-container{
    margin-left: 5%;
}
.remove_item_button{
    margin-left: auto;
    margin-right: 5%;
    
}
button{
    background-color: rgb(219, 1, 1);
}
.center-div{
    margin: auto;
}