.checkout-details {
    width: 50%; 
    text-align: center;
    
}

.checkout-details h1 {
    padding: 1%;
}


.save_card input {
    margin-top: 7px;
    margin-left: 10px;
}

.favourite_items_class {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
}

.favourite_items_class p {
    padding: 10px;
    
  
}


