.checkout-details {
    width: 50%; 
    text-align: center;
    
}

.checkout-details h1 {
    padding: 1%;
}


.save_card input {
    margin-top: 7px;
    margin-left: 10px;
}

.favourite_items_class {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    text-align: left;
    padding: 5px;
    margin-left: 25%;

    
}

.favourite_items_class p {
    padding: 20px;


    
}

.receipt-container {


    margin-left: 9%;
    margin-top: -3%;

 

}



.receipt-container-1{

    margin-left: 46%;
    margin-top: 5%;

}



