
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}



.page-container {
  position: relative;
  height: 100%;

}



.content {
  padding-bottom: 100px;
}


.navigation {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  /*background-color: rgba(184,216,190,1); */
}

.navigation, a {
  color: black;
}


.head-banner{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.login-container{
  display: flex;
  margin-left: auto;
  width: 5%;
  height: 100px;
}
.login-img{
  width: 100%;
}
.title{
  margin-left: auto;
}

a.loginbutton{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}