.Menu{
    width: 80%;
    margin: auto;
}
#data{
    padding: 0%;
    display: grid;
    list-style: none;
    gap: 9%;
   /* grid-template-columns: repeat(5, minmax(1px, 1fr)); */
    grid-template-columns: repeat(3, 25%);
    width: 100%;
    
}
.menu-header{
    margin-top: 2rem;
    text-align: center;
    font-size: 60px;
}
a.clickable-div{
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.item-cont {
    position: relative;
    width: 100%;
    list-style: none;
    text-decoration: none;
    color: white;
}

  
.item-image {
    height: 400px;
    display: block;
    width: 100%;
    object-fit: cover;
}

.item-content {
    white-space: nowrap;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    text-decoration: none;
}



.item-text {
    width: 100%;
    color: white;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 10%;
}
.item-title{
    font-size: 27px;
}
.item-desc{
    font-size:medium;
}
.menucontroler{
    display: flex;
    flex-direction: row;
}
.sortForm{
    margin: 0%;
    height: 40px;
    width: 20%;
}
#search{
    width: 20%;
    height: 40px;
}
select{
    margin: 0%;
    width: 80%;
    margin: auto;
}

.price-container{
    display: flex;
    flex-direction: column;
}

.lineover{
    text-decoration: line-through;
    font-size: 70%;
}
.reward-banner{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    top: 0px;
    right: 0px;
    background-color: #008CBA;
    justify-content: center;
    align-items: center;
}
.item-reward{
    font-size: 100%;
    text-decoration: none;
}

.favourite-popup {
    background-color: rgb(230, 241, 232);
    padding: 2%;
    width: 40%;
    border: black; 
    border-width: 2px;
    text-align: left;
    border-style: solid;
    flex-wrap: wrap;
    visibility: hidden;
    position: absolute;
    z-index: 100;
    transition: margin-left 3s;
    margin-left: -45%;

}


.favourite-popup p {
    padding: 2%;
}

.favourite-popup h2 {
    text-align: center;
}

.favourite-popup input {
    height: 50%;
    width: 20%;
    margin-top: 2.4%;
}



