#data{
    padding: 5%;
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 5%;
    background-color: lightslategray;
}
.item-cont {
    position: relative;
    width: 20%;
}
  
.item-image {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 15%;
}

.item-content {
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 15%;
    transition: .5s ease;
}

.item-cont:hover .item-content {
    height: 50%;
}

.item-text {
    width: 100%;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    text-align: left;
    padding-left: 30%;
    left: 30%;
    top: 4rem;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.item-title{
    font-size: 27px;
}
.item-desc{
    font-size:medium;
}
.menucontroler{
    width: 80%;
    margin: auto;
}