
.popup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
  text-align: center;
  position: fixed;
  background-color: rgb(240, 238, 255);
  top: 20%;
  left: 40%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0,0, 0,0.5);
  visibility: hidden;
  
}


.popup p, .popup h3 {
  text-align: center;
}

.popup label {
  display: flex;
}



.popupBackground {
  display: none;
  background-color: rgba(0,0, 0,0.4);
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 0px;
  cursor: pointer;
  font-size: 20px;
  background: none;
  border: none;

}

.submit_reward {
  padding: 10px;
  background-color: white;

}






