
.product-container{
    display: flex;
    flex-direction: column;
    background-color:azure;
}
.Header{
    padding: 1rem;
    background-color: cadetblue;
}
.product-display{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
}

.product-img{
    display: block;
    max-width: 100%;
}
.product-title{
    margin-left: 10%;
}
.title-container{
    flex: 0 0 45%;
}
.image-container{
    position: relative;
    margin-left: 20%;
    flex: 0 0 15%;
    max-width: 15%;
    
}
.product-info{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    width: 100%;
}
.center-container{
    display: flex;
    width: 100%;
    align-items: center;
    flex: 0 0 100%;
}
.info-col1{
    display: flex;

    flex: 0 0 50%;
}
.product-description{
    margin: auto;
    font-size: larger;
    width: 50%;
}
.info-col2{
    background-color: white;
    display: flex;
    
    flex: 0 0 50%;
    padding-top: 2.5rem;
    padding-bottom: 4.5rem;
    width: 50%;

}

.product-something{
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    margin: auto;
    width: 50%;
}
.size-options{
    
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    height: 200px;
    gap: 1%;
    margin: auto;
}
.grid1{
    display: grid;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    border-style: solid;
    margin: auto;
    height: 200px;
}
.grid2{
    display: grid;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    border-style: solid;
    margin: auto;
    height: 200px;
}
.grid3{
    display: grid;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    border-style: solid;
    margin: auto;
    height: 200px;
}
.div1 img{
    width: 70%;
}
.div2 img{
    width: 85%;
}
.cup-svg{
    width: 100%;
    margin: auto;
}
.bev-size{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.bev-size p{
    margin: auto;
    font-size: large;
}
.add-to-cart{
    padding: 5%;
    background-color: whitesmoke;
    margin-top: 2rem;
}
.cart-button{
    margin-top: 1rem;
    background-color: cadetblue;
}
.radiocontainer {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type=radio]{
    display: none;
}
.radiocontainer:hover{
    background-color: rgb(241, 240, 240);
}
.radiocontainer input:checked ~ .cont{
    background-color: rgb(241, 240, 240);
}