
.product-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
}

.product-display{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
}

.product-img{
    display: block;
    max-width: 100%;
    border-radius: 10%;
}
.product-title{
    margin-left: 0%;
}
#product-price{
    font-size: 40px;
}
.title-container{
    flex: 0 0 45%;
}
.image-container{
    position: relative;
    margin-left: 20%;
    width: 70%;
    
}
.product-info{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.center-container{
    display: flex;
    margin: auto;
}
.info-col1{
    display: flex;
    flex-direction: column;
    margin: auto;

    flex: 0 0 40%;
}
.product-description{
    margin-top: 5%;
    margin-left: 20%;
    font-size: larger;
    width: 70%;
}
.disclamer{
    margin-top: 5%;
}
.info-col2{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0;
    
    flex: 0 0 40%;
    width: 30%;

}

.product-something{
    display: flex;
    margin-top: 2rem;
    flex: 0 0 50%;
    flex-direction: column;
    width: 70%;
}
.size-options{
    
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 70%;
    gap: 8px;
}
.grid{
    display: grid;
    width: 100%;
    border-radius: 10%;
    height: 120px;
    background-color: rgb(173, 246, 248);
    border-style: solid;
    border-width: 1px;
}
.grid-first{
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid-second{
    grid-column-start: 2;
    grid-column-end: 3;
}
.grid-third{
    grid-column-start: 3;
    grid-column-end: 4;
}
.div1 img{
    width: 55%;
}
.div2 img{
    width: 75%;
}
.div3 img{
    width: 90%;
}
.cup-svg{
    width: 100%;
    margin: auto;
}
.bev-size{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.bev-size p{
    margin: auto;
    font-size: large;
}
.add-to-cart{
    margin-top: 1rem;
}
.cart-button{
    padding: 1rem;
    background-color: cadetblue;
    font-size: large;
    border-radius: 10%;
}
.radiocontainer {
    width: 100%;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type=radio]{
    display: none;
}
.grid:hover{
    border-color: black;
}
.radiocontainer input:checked ~ .cont{
    border-color: black;
    border-style: solid;
    border-width: 3px;
}