.admin_table tr,td {
    padding: 8px;

    
}

.admin_table {
    background-color: rgba(184,216,190,.4);
    display: none;
    max-width: 20vw;
    margin: 0 auto;
   
    
}

.admin_table tr:hover {
    background-color: #4d6666;
}

@media (max-width: 600px) { /*  This will activate when the page size is 600px or smaller */
    .admin_table {
        max-width: 80vw;        
    }
    .admin_table td {
        font-size: 0.7em;            
    }
}

.table_header {
    width: fit-content; 
    padding-left: 10%; 
    cursor: pointer;
}

