
.reward-container {
    display: grid;
    list-style: none;
    width: 80%;
    gap: 9%;
    margin: 0 auto;   
    grid-template-columns: repeat(3, 25%);
    color: white;

   
}

.reward-items {
    background-color: #008CBA;
    text-align: center;
    width: 40vh;
    cursor: pointer;
   

 
}

.reward-items h3 {
   margin-top: 20px;
}

.reward-items p {
    font-size: 30px;
}


.reward-image {
max-height: 40dvh;
}


.reward-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40dvh;
    text-align: center;
    
}





.reward-description {
    background-color: rgba(184,216,190,1);
    width: 100%;
    display: flex;
}

.reward-description-2 {
    align-self: center;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}