<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Cafe </title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


    
    <link href="{{ url_for('static', filename='popup.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='footer.css') }}" rel = "stylesheet">
    <link href ="{{ url_for('static', filename='employ.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='fontstyles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='mainpage.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='carousel.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='reward-page.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='menu.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='checkout.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='review_application.css')}}" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts/popup.js') }}"></script> 
    <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script> 
    <script src="{{ url_for('static', filename='scripts/favourite.js') }}"></script> 
    

 
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    




  </head>
  <body>


<div class="page-container">
  <div style="height: 5%;"></div>
  <div class="head-banner">
    <h1 class="kanit-thin title" style="text-align: center;">Cafe</h1>

    <div class="user-cart">
      <a href="{{url_for('cart')}}">
        <img class="cart-img" src="https://www.svgrepo.com/show/528102/cart-3.svg" alt="">
        {%if currentuser.cart|length > 0 %}
          <div class="top-right"><p class="kanit-thin num">{{currentuser.cart|length}}</p></div>
        {%endif%}
      </a>
      
      <div class="dropdown-content">
        {% for item in currentuser.cart %}
        <a href="#">{{item.title}}</a>
        {%endfor%}
      </div>

    </div>
    <div class="login-container">
      <a class="loginbutton" href="{{ url_for('login') }}">
        <div class="img-container">
          <img class="login-img" src="https://www.svgrepo.com/show/532363/user-alt-1.svg" alt="">
          {% if loggedin %}
          <form action="http://127.0.0.1:5000/" method="POST"><input style="font-size: 1.5vw;" type="submit" value="logout"></form>
          {% endif %}
        </div>
      </a>
      
    </div>
  </div>
  {% if employee_check %}
  
  <p>Flat 50% discount for all employees!</p>

  {% endif %}




  
  <div class = "navigation kanit-thin">
      <a href="{{ url_for('home') }}">Cafe</a>
      <a href="{{ url_for('menu') }}">Menu</a>
      <a href="{{ url_for('rewards') }}">Rewards</a>
      <a href="{{ url_for('employ') }}">Employment</a>
      {% if admin_check %}
      <a href="{{ url_for('application_review') }}">Admin</a>
      {% endif %}
  </div>
  


   
{% block content %}
    {% endblock %} 
  
  
   <div class = "footer-space"></div>
    <div class ="footer inconsolata">
      <div style="align-self: center;">
        <div class = "flex-class"> <img src="{{ url_for('static', filename='images/phone.svg') }}"> <p>1111111</p> </div>
        <div class = "flex-class"> <img src="{{ url_for('static', filename='images/location.svg') }}"> <p>Auckland</p> </div>
        <div class = "flex-class"> <img src="{{ url_for('static', filename='images/email.svg') }}"> <p>Cafe@Gmail.com</p> </div>
        <div class = "flex-class"> <img src="{{ url_for('static', filename='images/available.svg') }}"> <p>Mon-Fri, 7Am - 4pm</p> </div>
      
      </div>
      <div style="align-self: center;">
        <div class = "flex-class"> <img src="{{ url_for('static', filename='images/available.svg') }}"> <p>1900</p> </div>
        <div class = "flex-class"> <img src="{{ url_for('static', filename='images/available.svg') }}"> <p>Cafe Newsletter</p> </div>
        <p></p>
      </div>
      <div style="align-self: center; display: flex; flex-direction: column;">
      <img src = "{{ url_for('static', filename='images/instagram.svg') }}">
      <img src = "{{ url_for('static', filename='images/facebook.svg') }}">
      <img src = "{{ url_for('static', filename='images/twitter.svg') }}">
      <img src = "{{ url_for('static', filename='images/youtube.svg') }}">
    </div>
    </div>


  </body>
</html>



</script>