{% extends 'base.html' %}
{% block content %}
<head>
    <link href="{{ url_for('static', filename='cart.css') }}" rel="stylesheet">
</head>
<body>
  
 
  <div class="Menu">
      <div class="menucontroler">
          <ul>
            <h2>{{currentuser.name}}'s cart</h2>
      </div>
      <ul id="cart_data">
        {% if currentuser.cart|length > 0 %}
          {% for items in currentuser.cart %}
            <div class = "item">
              <img class="pic" src="{{items.img_url}}" alt="">
              <div class="text-container">
                <h3>{{items.title}} ({{items.size}})</h3>
                <p>Quantity: {{items.quantity}}</p>
                {% if employee_check %}
                <p>Price: ${{ (50 * (items.price / 100) )|round(2) }}</p>
                {% else %}
                <p>Price: ${{items.price}}</p>
                {% endif %}
               
              </div>
              <form action="http://127.0.0.1:5000/cart" class="remove_item_button" method="post">
                
                <button value="{{items.title}}" name="removeitem" type="submit" >X</button>
              </form>
              
              
            </div>
        
          {% endfor %}
          <form action="http://127.0.0.1:5000/checkout" method="get">
          <div class="total-div" style="display: flex; justify-content: space-between;">
            {% if employee_check %}
            <h1 class="total-text"><input style="display: none;" name="cart_sum" value="{{ ( 50 * (cart_total / 100 )) | round(2) }}">Total: ${{ ( 50 * (cart_total / 100 )) | round(2) }}</h1>
            {% else %}
            <h1 class="total-text"><input style="display: none;" name="cart_sum" value="{{cart_total}}">Total: ${{cart_total | round(2) }}</h1>
            {% endif %}
            <input name="cart_length" style="display: none;" value="{{currentuser.cart|length}}">
            <button class="total-text" type="submit"><h1>Checkout</h1></button>

       

          </div>
          </form>
          <div>
            
          </div>
        {% else %}
          <div class="center-div">
            <h1>Your cart is empty</h1>

          </div>
        {% endif %}
      
        
      </ul>

  </div>

  
</body>
{% endblock %}

