{% extends 'base.html' %}
{% block content %}
<head>
    <link href="{{ url_for('static', filename='cart.css') }}" rel="stylesheet">
</head>
<body>
  
 
  <div class="Menu">
      <div class="menucontroler">
          <ul>
            <h2>{{currentuser.name}}'s cart</h2>
      </div>
      <ul id="cart_data">
        {% if currentuser.cart|length > 0 %}
          {% for items in currentuser.cart %}
            <div class = "item">
              <img class="pic" src="{{items.img_url}}" alt="">
              <div class="text-container">
                <h3>{{items.title}} ({{items.size}})</h3>
                <p>Quantity: {{items.quantity}}</p>
                {% if employee_check %}
                <p>Price: {{ (50 * (items.price / 100) )|round(2) }}$</p>
                {% else %}
                <p>Price: {{items.price}}$</p>
                {% endif %}
               
              </div>
              <form action="http://127.0.0.1:5000/cart" class="remove_item_button" method="post">
                
                <button value="{{items.title}}" name="removeitem" type="submit" >X</button>
              </form>
              
              
            </div>
        
          {% endfor %}
          <div class="total-div">
            {% if employee_check %}
            <h1 class="total-text">Total: {{ ( 50 * (cart_total / 100 )) | round(2) }}$</h1>
            {% else %}
            <h1 class="total-text">Total: {{cart_total}}$</h1>
            {% endif %}
        

          </div>
          <div>
            
          </div>
        {% else %}
          <div class="center-div">
            <h1>Your cart is empty</h1>

          </div>
        {% endif %}
      
        
      </ul>

  </div>

  
</body>
{% endblock %}

