{% extends 'base.html' %}
{% block content %}

<div style="height: 10%;"></div>
<div style="display: flex; width: 100%;">

<div style="width: 50%; text-align: center;">



  {% if checkout_complete %}
  <div style="width: 200%;">
    <h1 class="kanit-regular">Checkout complete!</h1>
    <br>
    <h3 class="kanit-regular">Here is your receipt</h3>
  </div>

  {% else %}
  <h1 class="kanit-regular checkout-form">Checkout</h1><br><br>
  <h1 class="kanit-regular checkout-form">Payment</h1>
  <img src="{{ url_for('static', filename='images/visa.svg') }}">
  <img src="{{ url_for('static', filename='images/mastercard.svg') }}">
  <img src="{{ url_for('static', filename='images/paypal.svg') }}"><br><br>

  <form action="http://127.0.0.1:5000/checkout" method="post">
    {{ form.hidden_tag() }}
    {% if incorrect_details %}
    <h3 style="color: red;">Incorrect card details entered</h3>
    {% endif %}
    {{ form.card_number.label }} <br>
    {{ form.card_number(id='card_number', checkout_input_length='16') }}<span id="card_number_validation"></span><br><br><br>
  
    {{ form.expiry_date.label }} <br>
    {{ form.expiry_date(id = 'card_expiry', checkout_input_length = '7') }} <br><br><br>
    
    {{ form.cvc.label }} <br>
    {{ form.cvc(id='cvc', checkout_input_length='3') }}<span id="cvc_validation"></span> <br><br><br>
    
    {{ form.submit }}
    <br>
  </form>
 

</div>


<div class="kanit-regular"> 
<h1 class="kanit-regular">Total price: ${{ cart_sum }}</h1>
<h1 class="kanit-regular">Amount of items in cart: {{cart_length}}</h1>
<br><br>

{% for item in cart_items %}
<div style="background-color: plum; height: 20%; width: 100%; display: flex; flex-direction: column; justify-content: space-around; text-align: center;">
{% if employee_check %}
<p>Item: {{item.title}}</p> 
<br>Size: {{item.size}}. Quantity: {{item.quantity}}. Price: ${{ ( 50 * (item.price / 100 )) | round(2) }}
{% else %}
<p>{{item.title}} ({{item.size}})</p>
<img src="{{item.img_url}}" style="object-fit: contain;">
<p style="text-align: right; padding: 20px;">{{item.quantity}} </p>
<p>${{item.price}}</p>
{% endif %}
</div>
<br><br>
{% endfor %}




{% endif %}
</div>

</div>



<script src="{{ url_for('static', filename='scripts/checkout.js') }}"></script>


{% endblock %}