{% extends 'base.html' %}
{% block content %}

<div style="height: 10%;"></div>
<div style="display: flex; width: 100%;">

<div style="width: 50%; text-align: center; display: flex;">

<div style="width: 50%;"></div>
<div style="background-color: RGBA(184,216,190,.35); width: 50%; text-align: center; border: 2px; border-style: solid; border-color: rgb (224, 224, 224); padding: 20px;">


  {% if checkout_complete %}
  <div style="width: 200%;">
    <h1 class="kanit-regular">Checkout complete!</h1>
    <br>
    <h3 class="kanit-regular">Here is your receipt</h3>
  </div>

  {% else %}
  <h1 class="kanit-regular checkout-form">Checkout</h1>
  <h1 class="kanit-regular checkout-form">Payment</h1>
  <img src="{{ url_for('static', filename='images/visa.svg') }}">
  <img src="{{ url_for('static', filename='images/mastercard.svg') }}">
  <img src="{{ url_for('static', filename='images/paypal.svg') }}"><br><br>

  <form action="http://127.0.0.1:5000/checkout" method="post">
    {{ form.hidden_tag() }}
    {% if incorrect_details %}
    <h3 style="color: red;">Incorrect card details entered</h3>
    {% endif %}
    {{ form.card_number.label }} <br>
    {{ form.card_number(id='card_number', checkout_input_length='19') }}<span id="card_number_validation"></span><br><br><br>
  
    {{ form.expiry_date.label }} <br>
    {{ form.expiry_date(id = 'card_expiry', checkout_input_length = '7') }} <br><br><br>
    
    {{ form.cvc.label }} <br>
    {{ form.cvc(id='cvc', checkout_input_length='3') }}<span id="cvc_validation"></span> <br><br><br>
    
    {{ form.submit }}
    <br>
  </form>
 
</div>
</div>


<div class="kanit-regular"> 


<div style="background-color: RGBA(184,216,190,.35); border: 2px; border-style: solid ; margin-left: 20px; padding: 20px;">
  <h1 class="kanit-regular total_price_class" style="padding-right: 20px; padding-left: 20px;">Total Price: ${{ cart_sum }}</h1>
  <h1 class="kanit-regular total_amount_class" style="padding-right: 20px; padding-left: 20px;">Amount of items in cart: {{cart_length}}</h1>
</div>

<br><br>



<div style="background-color: RGBA(184,216,190,.35); border: 2px; border-style: solid ; margin-left: 20px; padding: 20px;">


{% for item in cart_items %}
<br>




<div class="specific_item_div" style="background-color: rgb(240, 238, 255); height: 16vh; width: 20vw; display: flex; flex-direction: column;  justify-content: space-around; text-align: center; box-sizing: border-box; border-style: solid; border-width: 2px; border-radius: 15px; margin-left: 25%;">
  <img src="{{item.img_url}}" style="height: 7vh; width: auto; position: absolute; transform: translate(30%, 5%); border-radius: 10px;">
    {% if employee_check %}
        <p style="margin: 0;">Item: {{item.title}}</p> 
        <p style="margin: 0;">Size: {{item.size}}. Quantity: {{item.quantity}}. Price: ${{ ( 50 * (item.price / 100 )) | round(2) }}</p>
    {% else %}
        <p onclick="delete_item(this.parentElement.parentElement)" style="margin: 0; display: flex; justify-content: space-around; cursor: pointer; "><span style="font-weight: bold; color: RGBA(184,216,190,.35);">x</span>{{item.title}} ({{item.size}}) <span style="font-weight: bold;"><img src="{{ url_for('static', filename='images/trash.svg') }}"></span></p>
        <div style="text-align: right; margin-right: 10%;">
          <img src="{{ url_for('static', filename='images/plus_1.svg') }}" id="item_plus" onclick="product_quantity(this.parentElement, 1)" style="cursor: pointer; height: 15%;" >
          <p class="specific_item_quantity" style="margin-right: 0.5%;">{{item.quantity}}</p>
          <img src="{{ url_for('static', filename='images/minus.svg') }}" id="item_minus"  onclick="product_quantity(this.parentElement, -1)"  style="cursor: pointer; height: 15%; margin-right: -0.5%;">
        <p class="specific_item_price" style="margin: 0; padding: 0; text-align: center;">${{item.price}}</p> <p class="original_price" style="display: none;">{{item.price}}</p>
    {% endif %}
</div>
</div>
<br><br>

{% endfor %}





{% endif %}
</div>
</div>
</div>



<script src="{{ url_for('static', filename='scripts/checkout.js') }}"></script>


{% endblock %}