
{% extends 'base.html' %}
{% block content %}


<div style="height: 10%;"></div>
{% for employee in range(1,11) %}
<div style="height: 10%;"></div>
<div class = "employeeCard kanit-regular">
  <div class = "employeeTextCard">
      <h2 style="text-align: center;">Baker</h2>
      <p style="text-align: center;">$54,000 Yearly</p>
      <p class="kanit-regular">Bakers needed Bakers needed Bakers needed Bakers will bake pastries sweet, bitter and savoury. High cash made here. No experience required. Learning on job given. Learn with the best chefs, bakers, 
        baristas, owners, waiters and serve to best customers. Test Paragraph Test.
      </p>
      <div class = "employButton">
        <button onclick="openPopup()">Apply</button>
      </div>
  </div>
  <img src="{{ url_for('static', filename='images/churro.jpg') }}"></img> <!--{{employee.image_url}}-->
</div>


{% endfor %}

<div class = "popup" id="popup">
  <button class = "closeBtn" onclick="closePopup()">&times;</button>
  <h5 style="padding: 20px;">Enter your details to apply</h5>
  <label>Name:</label> <input/> <br/> <br/>
  <label>Address:</label> <input/> <br/> <br/>
  <label>Age:</label> <input/> <br/> <br/>
  <button>Apply</button>
</div>


{% endblock %}