{% extends 'base.html' %}
{% block content %}

<div class="inconsolata" style="text-align: center; padding: 5px; min-height: 60%; display: flex; flex-direction: column; justify-content: space-around;">

<br><br>
<h1>Employment Application</h1><br><br>
{% if check_form %}
<form action="http://127.0.0.1:5000/employ_application" method="POST">
{{ form.hidden_tag() }}

{% for error in form.job_reason.errors %}
<span style="color: red;">{{ error }}</span><br>
{% endfor %}
{{ form.job_reason.label }} <br>
{{ form.job_reason(style="height:30vw;width:30%") }} <br><br>

{{ form.submit }}
</form>
{% endif %}


{% if form_done %}
<h3>Application Received. Will be reviewed</h3>
{% endif %}

{% if notloggedin %}

    <h3>Sorry. You can not apply for a job unless you are logged in.</h3>


{% endif %}

{% if already_applied %} 
<h3>You have already applied for a job. You can not apply again.</h3>
{% endif %}

</div>



{% endblock %}

