
{% extends 'base.html' %}
{% block content %}


<div style="height: 10%;"></div>
{% for row  in rows %}
<div style="height: 10%;"></div>
<div class = "employeeCard kanit-regular">
  <div class = "employeeTextCard">
      <h2 style="text-align: center;">{{row.Job_Name}}</h2>
      <p style="text-align: center;">${{row.Salary}}</p>
      <p class="kanit-regular">{{row.Description}}</p>
      <div class = "employButton">
        <button onclick="openPopup()">Apply</button>
      </div>
  </div>
  <img src="{{ row.Image_Url }}"></img> 
</div>


{% endfor %}


<div class = "popup" id="popup">
  <form action="http://127.0.0.1:5000/employ" method="POST">
  <button class = "closeBtn" onclick="closePopup()">&times;</button>
  {{ form.hidden_tag() }}

  {{ form.first_name.label }}
  {{ form.first_name }} 
 

  {{ form.last_name.label }} 
  {{ form.last_name }} 


  {{ form.age.label }} 
  {{ form.age }}


  {{ form.address.label }} 
  {{ form.address }} 

  {{ form.phone_number.label }} 
  {{ form.phone_number }}
  
  {{ form.email.label }} 
  {{ form.email }} <br/> <br/>

  {{ form.submit }}
</form>
</div>


{% endblock %}


{% for error in form.first_name.errors %}
<p style="color: red;">{{error}}</p>
{% endfor %}
