
{% extends 'base.html' %}
{% block content %}




<form action="http://127.0.0.1:5000/employ_application" method="GET">
  <ul class="employ-container">
  {% for row  in rows %}
  <div class = "employeeCard kanit-regular">
    <img src="{{ row.Image_Url }}"></img>
    <div class = "employeeTextCard">
        <h2 style="text-align: center;">{{row.Job_Name}}</h2>
        <input type="hidden" name="job_name" value="{{row.Job_Name}}">
        <p style="text-align: center;">${{row.Salary}} per year</p>
        <p class="kanit-regular">{{row.Description}}</p>
        <div class = "employButton">
          <input type="submit" value="Apply" style="background-color: white; padding: 8px;"></a>
        </div>
    </div>
     
  </div>

  {% endfor %} 
</ul>
</form>

<div style="height: 50%;"></div>


{% endblock %}




