<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='form.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="form-container">
            <div class="login-container">
                <div class="col-1">
                    <img class="logo" src="{{ url_for('static', filename='images/stolen-logo.png') }}" alt="">
                    <form action="http://127.0.0.1:5000/login" method="POST">
                        <div class="form-input">
                            {{ form.hidden_tag() }}
                            <div class="input-container">
                                <img src="https://www.svgrepo.com/show/529279/user-circle.svg" alt="">
                                {{ form.email(placeholder="Email") }}
                            </div>
                            <div class="input-container">
                                <img src="https://www.svgrepo.com/show/529052/lock-password.svg" alt="">
                                {{ form.password(placeholder="Password") }}
                            </div>
                            {{ form.submit }}

                        </div>
                    </form>
                    <a href="{{ url_for('signup') }}">dont have an account? sign up</a>
                </div>
                <div class="col-2">
                    <img class="cover-img" src="{{ url_for('static', filename='images/pastries-img-1.avif') }}" alt="">

                </div>
                
            </div>
            
        </div>
        
    </body>
</html>