
{% extends 'base.html' %}
{% block content %}

<body>
  
 
  <div class="Menu">
    <h2 class="menu-header inconsolata">MENU</h2>
      <div class="menucontroler">
          
        <select class="sortForm" id="sortdropdownselector"  type="text" name="sortdropdown" onchange="reload()">
          <option id="op0" value="popular" selected>Popular (high - low)</option>
          <option id="op1" value="name">name (A - Z)</option>
          <option id="op2" value="price" >price (low - high)</option>
            
        </select>
        
        <input type="text" id="search" placeholder="Search" value="{{searchbyvalue}}" name="search" oninput="search()" >
            
          
      </div>
  

      {# This code is for teacher task - Lets users favourite an order #}
      {% if favourite_check %} 
      <a onclick="open_favourite()" style="display: inline; margin-left: 45%; cursor: pointer;">Favourite your order</a>
      <form action="http://127.0.0.1:5000/checkout" method="POST">
        <input type="hidden" name="favourited_order" value="true">
        <button type="submit" style="margin-left: 45%;">Order your Favourited coffees!</button>
      </form>
      {% endif %}
      <div class="favourite-popup" id="favourite-popup-id"> {# This is a hidden popup #}
        <form action="http://127.0.0.1:5000/menu" method="POST">
        <h2>Favourite your menu</h2><br><br>
        <input style="margin-left: 40%; width: 20%;" type="submit" value="Save Order"><br><br>
        <input type="hidden" name="action" value="favourite_form">
        {% for row in rows %}
        <div style="display: grid; grid-template-columns: 50px 220px 200px 100px 400px; align-items: center;">
          <img style="height: 50px; margin-top: 5px;" src="{{row.img_url}}"></img>
          <p>Name: {{row.title}}</p>
          <p>Price: ${{row.price}}</p>
          <p>Quantity: </p>
          <input name="{{ row.title }}"  type="number" min="1" max="9">
         </div> 
        <br>
        {% endfor %}
        </form>
      </div>

      <br><br>
      <ul id="data">
        
      </ul>

  </div>
<div style="height: 120%;"></div>
  <script src="{{ url_for('static', filename='scripts/menu.js') }}"></script>
  <script>
    isemployee({{employee_check}});
    reward({{ rewards_int_list|tojson|safe }});
    initload({{ data|tojson|safe }});

    
  </script>
</body>
{% endblock %}

