
{% extends 'base.html' %}
{% block content %}
<body>
  
 
  <div class="Menu">
    <h2 class="menu-header inconsolata">MENU</h2>
      <div class="menucontroler">
          <form action="http://127.0.0.1:5000/menu" class="SortSelection" method="POST">
            <select class="sortForm" id="sortdropdownselector" aria-placeholder="Sort"  type="text" name="sortdropdown" onchange="this.form.submit()">
              <option id="op0" value="">{{sortbyvalue}}</option>
              <option id="op1" value="name">name (A - Z)</option>
              <option id="op2" value="price">price (low - high)</option>
                
            </select>
            
            <input type="text" id="search" placeholder="Search" value="{{searchbyvalue}}" name="search">
            
          </form>
      </div>
      <ul id="data">
        {% for items in data %}
        <div class = "item-cont">
          <a href="http://127.0.0.1:5000/{{items.id}}" method="POST">
            <img title="product-img" class = "item-image" alt="Image-alt" src="{{items.img_url}}"></img>
            <div class = "item-content">
              <div class="item-text inconsolata">
                <p class="item-title">{{items.title}}</p>
                 {% if employee_check %}
                 <p class="item-price">50% off! <s>${{items.price}}</s></p>
                 <p class="item-price">${{ (50 * (items.price / 100) )|round(2) }}</p>
                 {% else %}
                 <p class="item-price">${{items.price}}</p>
                 {% endif %}
                <p class="item-desc">Ingredients: <br>{{items.contains}}</p>
            
              </div>
            </div>
          </a>
        </div>
      
        {% endfor %}
      
        
      </ul>

  </div>

  
</body>
{% endblock %}

