
{% block content %}
<head>
    <link href="{{ url_for('static', filename='minesweeper.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="game-container">
        <div class="minefield-grid" id="grid-cont">
            



        </div>
    </div>
    <script>
        let minefield = [];

        

        function isbomb(){
            let rand = Math.random();
            if(rand < 0.1){
                return true;
            }
            return false;
        }
        function buildgridsquares(){
            const gridcontainer = document.getElementById("grid-cont");
            const grid_width = 10;
            const grid_height = 10;
            for(let y = 1; y <= grid_width; y++){
                for(let x = 1 ; x <= grid_height; x++){
                    let cord = {X: x,Y:y}
                    cord.bomb = isbomb()
                    cord.guide = 0
                    minefield.push(cord)
                    const gridsquare = document.createElement('div');
                    gridsquare.className = `grid-square covered`;
                    gridsquare.addEventListener('click',function(){uncoversquare(cord)})

                    gridsquare.id = `(${cord.X},${cord.Y})`
                    gridcontainer.appendChild(gridsquare);
                }
            }
        }
        function addbombs(){
            for(let i = 0; i < minefield.length; i++){
                if (minefield[i].bomb == true){
                    idName = `(${minefield[i].X},${minefield[i].Y})`;
                    square = document.getElementById(idName);
                    const content = document.createElement('p');
                    content.textContent = "X";
                    square.appendChild(content)
                }
            }
        }
        function addguides(){
            listofguides =[]
            for (let i = 0 ; i < minefield.length; i++){
                guide = countadjacent(minefield[i]);
                if(guide > 0){
                    idName = `(${minefield[i].X},${minefield[i].Y})`;
                    square = document.getElementById(idName);
                    square.textContent = guide;
                    
                    minefield[i].guide = guide;

                    let guidecolors = ['blue','green','red','darkblue','darkred','cyan','black','darkgray'];
                    square.style.color = guidecolors[guide-1];
                }
            }
            for (let i = 0 ; i < listofguides.length; i++){
                console.log(listofguides[i]);
            }

        }

        function countadjacent(cord){
            if(cord.bomb == true){
                return 0
            }

            weather = getsurounding(cord)
            
            let counter = 0;
            for(let i = 0; i < weather.length; i++){
                if (finder(weather[i]).bomb == true){
                    counter = counter +1;
                }
            }
            return counter

        }
        function finder(cord){
            console.log("checking cord:", cord);
            let adjacent = minefield.find(o => o.X === cord[0] && o.Y === cord[1]);
            if(adjacent == undefined){
                console.log("adjacent is undefined");
                return false;
            }
            return adjacent

        }
        function printfield(){
            for (let i = 0; i < minefield.length; i++){
                console.log(minefield[i]);
            }
        }


        function uncoversquare(cord){
            console.log(cord)
            idName = `(${cord.X},${cord.Y})`;

            square = document.getElementById(idName);
            square.className = `grid-square uncovered`;
            if(cord.guide == 0){
                console.log("clearempty", cord)
                clearempty(cord);
            }

        }

        function getsurounding(cord){
            let n = [cord.X,cord.Y - 1];
            let s = [cord.X,cord.Y + 1];
            let e = [cord.X + 1,cord.Y];
            let w = [cord.X - 1,cord.Y];

            let ne = [cord.X +1,cord.Y - 1];
            let nw = [cord.X -1,cord.Y - 1];
            let se = [cord.X + 1,cord.Y + 1];
            let sw = [cord.X - 1,cord.Y + 1];

            weather = [n,s,e,w,ne,nw,se,sw];
            return weather;
        }
        
        uncheckedsquares =[];
        checkedsquares =[];
        function clearempty(cord){
            console.clear()
            //check 8 surounding cords
            weather = getsurounding(cord);

            foundsurounding= [];
            

            checkedsquares.push(cord);

            for(let i = 0; i < weather.length; i++){
                foundsurounding.push(finder(weather[i]));
            }
            for(let i = 0; i < foundsurounding.length; i++){
                let foundcord = foundsurounding[i];
                idName = `(${foundcord.X},${foundcord.Y})`;

                if(foundcord.guide == 0){
                    uncheckedsquares.push(foundcord)
                    square = document.getElementById(idName);
                    square.className = `grid-square uncovered`;
                }

                
            }


            for(let i = 0; i < uncheckedsquares.length; i++){
                console.log(uncheckedsquares[i]);
                

            }
            

            console.log(uncheckedsquares)
            console.log(checkedsquares)

        }
        

        buildgridsquares();
        addbombs();
        addguides();
    </script>
</body>
{% endblock %}