{% extends 'base.html' %}
{% block content %}
<head>
    <link href="{{ url_for('static', filename='minesweeper.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="game-info">
        <p id="display-totalflags"></p>
        <p id="display-totalbombs"></p>


    </div>
    <div class="game-container">
        
        
        <div class="minefield-grid" id="grid-cont">
            <div id="overlay">
                <div class="background"></div>
                <div class="game-result">
                    <p class="result-msg">Result</p>
                    <button onclick="restart()">restart</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/minesweeper.js') }}"></script>
</body>
<div style="height: 20%;"></div> 
{% endblock %}