{% extends 'base.html' %}
{% block content %}
<body>
    <head>
        <link href="{{ url_for('static', filename='product.css') }}" rel="stylesheet">
    </head>
    <div class="product-container">
        
        
        <div class="product-info">
            <div class="center-container">
                <div class="info-col1">
                    <div class="Header">
                        <div class="product-display">
                            <div class="image-container">
                                <img class="product-img" src="{{product.img_url}}" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <div class="product-description inconsolata"><b>Description</b><br>{{product.description}}</div>
                    <p class="disclamer product-description inconsolata">Please note, This product contains: <br> {{product.contains}}</p>
                </div>
                <div class="info-col2">
                    <div class="title-container">
                        <h1 class="product-title">{{product.title}}</h1>
                        <p id="product-price" class="inconsolata">{{product.price}}$</p>
                    </div>
                    <form action="http://127.0.0.1:5000/{{product.id}}" method="post">
                        <div class="product-something">
                            <h3 class="kanit-regular">Size options</h3>
                            <div class="size-options">
                                
                                <label class="radiocontainer">
                                    <input type="radio" name="pick-size" value="SMALL">
                                    <div class="grid grid-first cont">
                                        <div class="bev-size div1">
                                            <img class="cup-svg" src="https://www.svgrepo.com/show/490658/coffee-to-go.svg" alt="">
                                            <p>150 ml</p>
                                        </div>
                                    </div>
                                </label>
                                
                                
                                <label class="radiocontainer">
                                    <input type="radio" name="pick-size" value="MEDIUM">
                                    <div class="grid grid-second cont">
                                        <div class="bev-size div2">
                                            <img class="cup-svg" src="https://www.svgrepo.com/show/490658/coffee-to-go.svg" alt="">
                                            <p>200 ml</p>
                                        </div>
                                    </div>
                                </label>
                                
                                
                                <label class="radiocontainer">
                                    <input type="radio" name="pick-size" value="LARGE">
                                    <div class="grid grid-third cont">
                                        <div class="bev-size div3">
                                            <img class="cup-svg" src="https://www.svgrepo.com/show/490658/coffee-to-go.svg" alt="">
                                            <p>250 ml</p>
                                        </div>
                                    </div>
                                </label>
                                
                                
                            </div>
                            <div class="add-to-cart">
                                
                                
                                <button class="cart-button" name="add-to-cart" type="submit">Add to cart</button>
                                
                                
                            </div>
                        
                        </div>
                    </form>

                </div>
            </div>
            
        </div>

    </div>
    <script>
        function price(){
            const priceelement = document.getElementById('product-price');
            const 
        }
    </script>

  
</body>
{% endblock %}