{% extends 'base.html' %}
{% block content %}
<div style="height: 10%;"></div>
<div style="height: 10%; text-align: center;">
    <h1>Admin Page</h1>
</div>

<h2 class="table_header" onclick="tablePopup('review_table')">Applicant Reviews</h2>
<h2 class="table_header" onclick="tablePopup('products_table')">Products</h2>
<h2 class="table_header" onclick="tablePopup('rewards_table')">Rewards</h2>
<h2 class="table_header" onclick="tablePopup('jobs_table')">Jobs</h2>
<h2 class="table_header" onclick="tablePopup('employees_table')">Employees</h2>
 


<div class="inconsolata" > 

  
        <table class="admin_table" id="review_table" border="2">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Gender</td>
                    <td>Job</td>
                    <td>Reason for Job</td>
                    <td>Approve</td>
                    <td>Deny</td>
                </tr>
            </thead>
            <form action="http://127.0.0.1:5000/application_review" method="POST">
            {% for row in job_review_rows %}
            <tr>
                <td>{{row.name}}</td>
                <td>{{row.gender}}</td>
                <td>Baker</td>
                <td>{{row.job_reason}}</td>
                <td><button type="submit" name="Approve" value="{{row.id}}">Approve</button></td>
                <td><button type="submit" name="Deny" value="{{row.id}}">Deny</button></td>
                
            </tr>
            {% endfor %}
            </form>
        </table>
 

 
        <table class="admin_table" id="products_table" border="2">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Ingredients</td>
                    <td>Price</td>
                    <td>Add</td>
                    <td>Remove</td>
                </tr>
            </thead>
            <form action="http://127.0.0.1:5000/application_review" method="POST">
            {% for row in products_rows %}
            <tr>
                <td>{{row.title}}</td>
                <td>{{row.contains}}</td>
                <td>{{row.price}}</td>
                <td><button type="submit" name="add_product">Add</button></td>
                <td><button type="submit" name="remove_product" value="{{row.id}}">Remove</button></td>
            </tr>
            {% endfor %}
            </form>
        </table>
 
  
        <table class="admin_table" id="rewards_table" border="2">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Points</td>
                    <td>Add</td>
                    <Td>Remove</Td>
                </tr>
            </thead>
            <form action="http://127.0.0.1:5000/application_review" method="POST">
            {% for row in rewards_rows %}
            <tr>
                <td>{{row.Name}}</td>
                <td>{{row.Points}}</td>
                <td><button type="submit" name="add_reward">Add</button></td>
                <td><button type="submit" name="remove_reward" value="{{row.id}}">Remove</button></td>
            </tr>
            {% endfor %}
            </form>
        </table>
 

    
        <table class="admin_table" id="jobs_table" border="2">
            <thead>
                <tr>
                    <td>Job</td>
                    <td>Salary</td>
                    <td>Add</td>
                    <td>Remove</td>
                </tr>
            </thead>
            <form action="http://127.0.0.1:5000/application_review" method="POST">
            {% for row in job_rows %}
            <tr>
                <td>{{row.Job_Name}}</td>
                <td>{{row.Salary}}</td>
                <td><button type="submit" name="add_job">Add</button></td>
                <td><button type="submit" name="remove_job" value="{{row.id}}">Remove</button></td>
            </tr>
            {% endfor %}
            </form>
        </table>
  

        <table class="admin_table" id="employees_table" border="2">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Job</td>
                    <td>Remove</td>
                </tr>
            </thead>
            <form action="http://127.0.0.1:5000/application_review" method="POST">
            {% for row in employee_rows %}
            <tr>
                <td>{{row.name}}</td>
                <td>Baker</td>
                <td><button type="submit" name="remove_employee" value="{{row.id}}">Remove</button></td>
            </tr>
            {% endfor %}
            </form>
        </table>
       

       {% if add_product %}
       <form action="http://127.0.0.1:5000/application_review" method="POST">
          <div class="changing_item" style="width: 100%; text-align: center;">
            <h2 style="margin-top: 2%;">Add Product</h2>
            {{ product_form.hidden_tag() }}

            {{ product_form.product.label }} <br>
            {{ product_form.product }}
            <br>

            {{ product_form.price.label }} <br>
            {{ product_form.price }}
            <br>
            
            {{ product_form.ingredients.label }} <br>
            {{ product_form.ingredients }}
            <br>

            {{ product_form.image.label }} <br>
            {{ product_form.image }}
            <br>

            {{ product_form.description.label }} <br>
            {{ product_form.description }}
            <br>
            
            {{ product_form.submit }}
            <br>
            
          </div>
        <form action="http://127.0.0.1:5000/application_review" method="POST">
       {% endif %}


       {% if add_reward %}
       <form action="http://127.0.0.1:5000/application_review" method="POST">
       <div class="changing_item" style="width: 100%; text-align: center;">
       <h2 style="margin-top: 2%;">Add Reward</h2>
       {{ reward_form.hidden_tag() }}

       {{ reward_form.reward.label }} <br>
       {{ reward_form.reward }}
       <br>

       {{ reward_form.points.label }} <br>
       {{ reward_form.points }}
       <br>
       
       {{ reward_form.image.label }} <br>
       {{ reward_form.image }}
       <br>

       {{ reward_form.submit }}
       <br>


       
       </div>
       </form>
       {% endif %}
      

       {% if add_job %}
       <form action="http://127.0.0.1:5000/application_review" method="POST">
       <div class="changing_item" style="width: 100%; text-align: center;">
       <h2 style="margin-top: 2%;">Add Reward</h2>
       {{ job_form.hidden_tag() }}

       {{ job_form.job.label }} <br>
       {{ job_form.job }}
       <br>

       {{ job_form.salary.label }} <br>
       {{ job_form.salary }}
       <br>
       
       {{ job_form.image.label }} <br>
       {{ job_form.image }}
       <br>

       {{ job_form.description.label }} <br>
       {{ job_form.description }}
       <br>

       {{ job_form.submit }}
       <br>

       </div>
       </form>
       {% endif %}
       
          

</div>


{% endblock %}
