
{% extends 'base.html' %}
{% block content %}
<div style="height: 5vh;"></div>
<div style="height: 20vh; text-align: center;">
 <h1>Rewards</h1> <h3>Points: {{points}}</h3>
</div>


<div class = "reward-container">
    {% for row in rows %}
     <div class = "reward-items" onclick="openPopup(this)" data-reward-name = "{{row.Name}}">
      <img class="reward-image" src="{{row.Image_Url}}">
        <h6 class="inconsolata">{{row.Name}}</h6> 
              <p class="inconsolata">Points: {{row.Points}}</p>
     </div>
    
     {% endfor %}
    </div>






  <div id="popup" class="popup">
    <button class = "closeBtn" onclick="closePopup()">&times;</button>
    <h3>Reward</h3>
    <p>Your reward has been claimed</p>
  </div>




{% endblock %}