
{% extends 'base.html' %}
{% block content %}
<div style="height: 20vh;">
 
</div>


<div class = "reward-container">
    {% for reward in range(1,11) %}
     <div class = "reward-items" onclick="openPopup(this)" data-reward-name = "{{reward.name}}">
      <img class="reward-image" src="{{reward.image_url}}">
        <h6 class="inconsolata">Temp reward name</h6> 
              <p class="inconsolata">Points: temp reward points</p>
     </div>
    
     {% endfor %}
    </div>





  <div id="popup" class="popup">
    <button class = "closeBtn" onclick="closePopup()">&times;</button>
    <h3>Reward</h3>
    <p>Your reward has been claimed</p>
  </div>




{% endblock %}