
{% extends 'base.html' %}
{% block content %}
<div style="height: 5vh;"></div>
<div class="kanit-thin" style="height: 20vh; text-align: center;">
 <h1>Rewards</h1> <h3>Points: {{points}}</h3>
</div>

{# {% if points != None %}
{% for reward in rewards_int_list %}
<p>Reward is: {{reward}}</p>
{% endfor %}

{% endif %} #}


<div class = "reward-container">
  <a href="http://127.0.0.1:5000/minesweeper">
    <div class = "reward-items" >
      <img class="reward-image" src="{{ url_for('static', filename='images/minesweeper.png') }}">
      <h3 class="inconsolata">Daily Minesweeper Challenge!</h3> 
      <p class="inconsolata" style="visibility: hidden;">Points: </p>
    </div>
  </a>

    {% for row in rows %}
    {% if points != None %}
    {% if points >= row.points and row.ID not in rewards_int_list %}
     <div class = "reward-items" onclick="openPopup(this)" data-reward-name = "{{row.Name}}" data-points="{{row.points}}" data-id="{{row.ID}}">
    {% else %}
    <div class = "reward-items" data-reward-name = "{{row.Name}}">
    {% endif %}
    {% endif %}
    {% if points == None %}
    <div class = "reward-items" data-reward-name = "{{row.Name}}">
    {% endif %}
      <img class="reward-image" src="{{row.Image_Url}}">
        <h3 class="kanit-regular">{{row.Name}}</h3> 
              <p class="kanit-regular">Points: {{row.Points}}</p>
     </div>
    
     {% endfor %}
    </div>





  <div id="popup" class="popup">
    <button class = "closeBtn" onclick="closePopup()">&times;</button>
    <form action="http://127.0.0.1:5000/rewards" method="POST">
    <input type="hidden" name="reward_id" id="reward_id_input">
    <input type="hidden" name="reward_points" id="reward_points_input">
    <input type="hidden" name="reward_type" id="rewardTypeInput">
    <h3>Your reward has been claimed</h3>
    <br><br>
    <input class="submit_reward" type="submit" value="claim">
 
    </form>
  </div>

  <div style="height: 30%;"></div>



{% endblock %}