
{% extends 'base.html' %}
{% block content %}
 
{% for row in rows %}

<img class = "showing carousel-images" src = "{{ row.Image_Url }}" style="max-height: 20%; margin-left: 5%; margin-top: 5%;">
<form action="http://127.0.0.1:5000/{{row.ID}}" method="POST" class="inconsolata" style="margin-left: 5%;">
<p>Special Item of the Day</p>
<p>{{row.Name}} 50% off</p>
<p>Time left: <span id="display_time"></span></p>
<button type="submit">Order</button>
</form>

{% endfor %}

<div class="carousel-container">
  <img class = "showing carousel-images" src = "{{ url_for('static', filename='images/holding-coffee.webp') }}">
  <img class = "carousel-images" src = "{{ url_for('static', filename='images/churro.jpg') }}">
  <img class = "carousel-images" src = "{{ url_for('static', filename='images/coffee-beans.jpg') }}">
</div>

<script>
  var timeleft = {{ timeleft_converted }}



    

  function update_time() {
    var hours = Math.floor(timeleft / 3600);
    var minutes = Math.floor((timeleft % 3600) / 60);
    var seconds = timeleft % 60;
    formatted_time = hours + "h " + minutes + "m " + seconds + "s ";
   
    document.getElementById("display_time").innerHTML = formatted_time
    timeleft--;
    if (timeleft <= 0){
       document.getElementById("display_time").innerHTML = "Refresh Page"
    }
     
     
  }
  

  setInterval(update_time, 1000);

</script>


<script src="{{ url_for('static', filename='scripts/carousel.js') }}"></script> 

   
{% endblock %}

