
{% extends 'base.html' %}
{% block content %}
 <head>
  <link rel="stylesheet" href="static/map.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
   integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
   integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
   crossorigin=""></script>
 </head>


 <div class="paralax-cont">
  <img class="layer1" src="{{ url_for('static', filename='images/layer1.png') }}">
  <img class="layer2" src="{{ url_for('static', filename='images/layer2.png') }}">
  <img class="layer3" src="{{ url_for('static', filename='images/layer3.png') }}">
  <h1 class="title-banner">Great Days Cafe</h1>
</div>


<div class="buffer">
  <div class="about-banner">
    <h2 class="inconsolata">serving fuel for greatness</h1>
    <br>

    <strong>Auckland</strong>
    <p>71 Symonds Street, Grafton</p>
    <br>

    <strong>Open Hours</strong>
    <p>Monday-Friday: 07:00 - 16:30</p>
    <p>Saturday-Sunday: Closed</p>
    <br>

  </div>

</div>

{# <div class="images-wrapper">
  
  <div class="absol-cont">
    {% for row in rows %}
    <div class="dailyreward-container">
      <img class = "showing carousel-images dailyreward-img" src = "{{ row.Image_Url }}">
      <div class="dailyreward-form">
        <form action="http://127.0.0.1:5000/{{row.ID}}" method="POST" class="form-container inconsolata" >

          <h2>Coffee of the day</h2>
          <p>{{row.Name}} 50% off</p>
          <p>Time left: <span id="display_time"></span></p>
          <button type="submit">Order</button>

        </form>

      </div>
      
    </div>
    
    
    {% endfor %}
  </div>
  
  <div class="paralax-cont">
    <div class="carousel-container">
      <img class = "carousel-images layer1 showing" src = "{{ url_for('static', filename='images/holding-coffee.webp') }}">
      <img class = "carousel-images layer1" src = "{{ url_for('static', filename='images/churro.jpg') }}">
      <img class = "carousel-images layer1" src = "{{ url_for('static', filename='images/coffee-beans.jpg') }}">

    </div>
    
  </div>
</div> #}


<div class="buffer">
  <div class="map-container">
    <h1 class="kanit-thin">Where to find us</h1>
    <div id="map"></div>
  </div>
  
</div>
  
  
  
  
  


  




    

<script>
  var timeleft = {{ timeleft_converted }}



    

  function update_time() {
    var hours = Math.floor(timeleft / 3600);
    var minutes = Math.floor((timeleft % 3600) / 60);
    var seconds = timeleft % 60;
    formatted_time = hours + "h " + minutes + "m " + seconds + "s ";
   
    document.getElementById("display_time").innerHTML = formatted_time
    timeleft--;
    if (timeleft <= 0){
       document.getElementById("display_time").innerHTML = "Refresh Page"
    }
     
     
  }
  

  setInterval(update_time, 1000);

</script>
<script>
  var auckland = {lat:-36.848461, long:174.763336}
  var map = L.map('map').setView([auckland.lat,auckland.long], 13);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors'}).addTo(map);
  var cafe = L.marker([-36.857105, 174.764745]).addTo(map);
  cafe.bindPopup("<b>This is our cafe!</b>").openPopup();
</script>

 
<script src="{{ url_for('static', filename='scripts/carousel.js') }}"></script>

   
{% endblock %}

